/*reset!*/
*{margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
	vertical-align: baseline;
    box-sizing: border-box;
    }

    .head{
        background-color: #1e1e1e;
        }
    .header-img{ display: inline;}
    
    /*MENU*/
    .top-nav{vertical-align: top;}
    .top-nav ul{display: inline-block;}
    .top-nav ul li{
        color:#efefef;
        font-size: 1.7em;
        display: inline-block;
        }
    .top-nav a, .top-nav a:hover, .top-nav a:link, .top-nav a:visited{ color: #fff; text-decoration: none;}
    .top-nav select{display: none;}
    
    /*HOMEPAGE*/
    .content-home{}
    .meta{}
    .meta, .links, .posts{
        background-color: #000;
        color: #ddd;
        font-family: Century Gothic, sans-serif;
        }
        .meta p, .links p, .posts p {
            font-family: 'Century Gothic', sans-serif;
            font-weight: 600;
        }
    /*END HOMEPAGE*/
    #left{}
    #left .meta, #left .links{
    }
    /*SINGLE PAGE*/
    .entry{
        background: #000;
        color: #ddd;
        font-family: 'Century Gothic', sans-serif;
        }
    .entry p {
        font-family: 'Century Gothic', sans-serif;
        font-weight: 600;
    }
    /*END SINGLE PAGE*/
    
    .bottom-nav{
        text-align: center; 
        margin: auto;
    }
    a,a:active, a:link, a:hover, a:visited{}




@media screen and (min-width: 960px) and (max-width: 2440px){
    body{}
    #wrap{ width: 960px; margin:30px auto;}
    header{}
    .head{
        width: 100%;
        background-color: #1e1e1e;
        height: 50px;
        }
        .header-img{display: inline-block;}
    .head img{height: 50px; width: 200px;}
    nav{}
    .top-nav{
        margin: 0px 0px 0px 10px;
        display: inline-block;
        width: 410px;
        }
    .top-nav ul li{
        height: 30px;
        width: 75px;
        display: inline-block;
        text-align: center;
        color:#efefef;
        font-size: 1.7em;
        margin: 10px;
        }
    
    /*HOMEPAGE*/
    .content-home{}
    .meta{}
    .meta, .links, .posts{
        height:300px;
        width:300px;
        margin:5px;
        display:inline-block;
        background-color: #000;
        color: #ddd;
        font-family: Century Gothic, sans-serif;
        }
        .meta p, .links p, .posts p {
            margin: 5px 5px 5px 5px;
            font-family: Century Gothic, sans-serif;
            font-weight: 600;}
    /*END HOMEPAGE*/
    #left{float: left; width: 310px;}
    #left .meta, #left .links{margin: 5px;}
    /*SINGLE PAGE*/
    .entry{
        display: inline-block;
        width: 610px;
        min-height: 610px;
        margin: 5px 9px;
        background: #000;
        color: #ddd;
        font-family: Century Gothic, sans-serif;
        }
    .entry p {
        margin: 5px;
        font-family: Century Gothic, sans-serif;
        font-weight: 600;
    }
    /*END SINGLE PAGE*/    
    .bottom-nav{text-align: center; margin: auto;}
    a,a:active, a:link, a:hover, a:visited{}
}

@media  screen and (min-width: 641px) and (max-width: 959px){
    body{}
    #wrap{ width: 630px; margin:30px auto;}
    header{}
    .head{
        width: 100%;
        background-color: #1e1e1e;
        height: 50px;
        }
        .header-img{display: inline-block;}
    .head img{height: 50px; width: 200px;}
    nav{}
    .top-nav{
        margin: 0px 0px 0px 10px;
        display: inline-block;
        width: 410px;
        }
    .top-nav ul li{
        height: 30px;
        width: 75px;
        display: inline-block;
        text-align: center;
        color:#efefef;
        font-size: 1.7em;
        margin: 10px 10px;
        }
    
    /*HOMEPAGE*/
    .content-home{}
    .meta{}
    .meta, .links, .posts{
        height:100px;
        width:300px;
        margin:5px;
        display:inline-block;
        background-color: #000;
        color: #ddd;
        font-family: Century Gothic, sans-serif;
        }
        .meta p, .links p, .posts p {
            margin: 5px 5px 5px 5px;
            font-family: Century Gothic, sans-serif;
            font-weight: 600;}
    /*END HOMEPAGE*/
    #left{ width: 620px;}
    #left .meta, #left .links{margin: 5px 4px;}
    /*SINGLE PAGE*/
    .entry{
        display: inline-block;
        width: 610px;
        min-height: 610px;
        margin: 5px 5px;
        background: #000;
        color: #ddd;
        font-family: Century Gothic, sans-serif;
        }
    .entry p {
        margin: 5px;
        font-family: Century Gothic, sans-serif;
        font-weight: 600;
    }
    /*END SINGLE PAGE*/    
    .bottom-nav{text-align: center; margin: auto;}
    a,a:active, a:link, a:hover, a:visited{}
}

@media screen and (min-width: 9px) and (max-width: 640px){
    body{}
    #wrap{ width: 320px; margin:30px auto;}
    header{}
    .head{
        max-width: 769px;
        background-color: #1e1e1e;
        height: 50px;
        }
        .header-img{display: inline-block;}
    .head img{height: 50px; width: 100px;}
    nav{}
    .top-nav{
         margin: 5px 0px 0px 10px;
        display: inline-block;
        width: 190px;

        }
    .top-nav ul li{
        height: 30px;
        width: 75px;
        display: inline-block;
        text-align: center;
        color:#efefef;
        margin: 10px 15px;
        }
    .top-nav ul{display: none;}
    .top-nav select{
        display: block;
        width: 190px;
        height: 40px;
        font-size: 1.5em;
        text-align: center;
    }
    .top-nav select:before{content: 'menu';}
    .top-nav select option{display: block; text-align: center;}
    
    /*HOMEPAGE*/
    .content-home{margin: auto;}
    .meta{}
    .meta, .links, .posts{
        height:50px;
        width:300px;
        margin:5px 0px;
        display:inline-block;
        background-color: #000;
        color: #ddd;
        font-family: Century Gothic, sans-serif;
        }
        .meta p, .links p, .posts p {
            margin: 5px 5px 5px 5px;
            font-family: Century Gothic, sans-serif;
            font-weight: 600;}
    /*END HOMEPAGE*/
    #left{float: left; width: 310px;}
    #left .meta, #left .links{margin: 5px;}
    /*SINGLE PAGE*/
    .entry{
        display: inline-block;
        width: 300px;
        min-height: 610px;
        margin: 5px 5px;
        background: #000;
        color: #ddd;
        font-family: Century Gothic, sans-serif;
        }
    .entry p {
        margin: 5px;
        font-family: Century Gothic, sans-serif;
        font-weight: 600;
    }
    /*END SINGLE PAGE*/    
    .bottom-nav{text-align: center; margin: auto;}
    a,a:active, a:link, a:hover, a:visited{}
}

@media screen and (max-device-width: 768px) and (orientation: portrait){
   body{}
    #wrap{ width: 100%; margin:30px auto;}
    header{}
    .head{
        width: 100%;
        background-color: #1e1e1e;
        height: 50px;
        }
        .header-img{display: inline-block;}
    .head img{height: 50px; width: 100px;}
    nav{}
    .top-nav{
        margin: 5px 0px 0px 10px;
        display: inline-block;
        width: 190px;

        }
    .top-nav ul li{
        height: 30px;
        width: 75px;
        display: inline-block;
        text-align: center;
        color:#efefef;
        margin: 10px 15px;
        }
    .top-nav ul{display: none;}
    .top-nav select{
        display: block;
        width: 190px;
        height: 40px;
        font-size: 1.5em;
        text-align: center;
    }
    .top-nav select:before{content: 'mrnu';}
    .top-nav select option{display: block; text-align: center;}
    
    /*HOMEPAGE*/
    .content-home{margin: auto;}
    .meta{}
    .meta, .links, .posts{
        max-height:300px;
        width:300px;
        margin:5px;
        display:inline-block;
        background-color: #000;
        color: #ddd;
        font-family: Century Gothic, sans-serif;
        }
        .meta p, .links p, .posts p {
            margin: 5px 5px 5px 5px;
            font-family: Century Gothic, sans-serif;
            font-weight: 600;}
    /*END HOMEPAGE*/
    #left{ width: 100px;}
    #left .meta, #left .links{margin: 5px;}
    .meta{display: none;}

    /*SINGLE PAGE*/
    .entry{
        display: inline-block;
        width: 300px;
        min-height: 610px;
        margin: 5px 9px;
        background: #000;
        color: #ddd;
        font-family: Century Gothic, sans-serif;
        }
    .entry p {
        margin: 5px;
        font-family: Century Gothic, sans-serif;
        font-weight: 600;
    }
    /*END SINGLE PAGE*/    
    .bottom-nav{text-align: center; margin: auto;}
    a,a:active, a:link, a:hover, a:visited{}
 }